//
// Release.xcconfig
//

// Allow entitlements modification
CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION = YES

// Code signing
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = -

// Optimization
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule 